/* @import url(gruvbox.css); */
body {
    background-color: rgb(48, 52, 70);
    font-family: "Overpass Mono",
        monospace;
    /* color:#df9fdf; */
    color: white;
    margin: 10px auto 10px auto;
    width: 800px;
}

div.highlight {
    overflow-x: auto
}

pre.highlight {
    overflow-x: auto
}

.title {
    font-family: "Inconsolata", monospace;
    color: rgb(244, 184, 228);
    text-transform: uppercase;
    font-size: 48px;
    padding-top: 12px
}

div#header {
    color: white;
    border-bottom: 2px solid rgb(244, 184, 228);
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#header #navigation {
    font-family: "Inconsolata", monospace;
    font-size: 20px;
    text-align: right
}

#container {
    margin: 0 auto;
    width: 600px
}

#title-section {
    padding-top: 50px;
    height: 100px
}

#title-section a {
    text-decoration: none
}

.description {
    width: 80%;
    padding-top: 50px;
    margin: 0 auto;
    text-align: center;
    font-size: 15px
}

.section {
    font-size: 13px
}

.post-info {
    text-align: center
}

.highlight {
    font-family: "Overpass Mono", monospace;
    overflow-x: scroll;
    padding: 0 5px
}

footer {
    margin-bottom: 25px;
    padding-top: 30px;
    text-align: center
}

div#footer {
    border-top: solid 2px rgb(244, 184, 228);
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    color: white;
    text-align: right
}

div.info {
    font-size: 14px;
    font-style: italic
}

.mjx-chtml {
    font-size: 14px;
    color: #cccccc;
}


h1 {
    padding-top: 10px;
    color: rgb(202, 158, 230);
    text-align: left;
    font-size: 24px
}

h2 {
    padding-top: 10px;
    color: rgb(238, 190, 190);
    font-size: 20px
}

h3 {
    padding-top: 10px;
    color: rgb(239, 159, 118);
    font-size: 16px
}

a {
    color: white;
    text-decoration-style: none
}

li {
    color: white;
    text-decoration-style: none
}

a:hover {
    color: rgb(244, 184, 228);
    text-decoration-style: none
}

p {
    color: white
}

p>code,
li>code {
    background: #555;
    border-radius: 3px;
    padding: 0 2px 1px;
    color: rgb(244, 184, 228)
}

#blurb {
    color: grey;
    margin-left: 5em
}

div#logo a {
    color: white;
    float: left;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    font-family: "Inconsolata", monospace;
}

@media only screen and (max-width: 600px) {
    #container {
        width: 100%
    }

    #title-section {
        text-align: center;
        height: auto
    }

    #logo {
        height: 120px;
        float: none;
        margin: 0 auto;
        padding-right: 0px;
        padding-bottom: 35px
    }

    .section {
        margin: 0 auto 25px;
        width: 95%
    }
}