<h2>About this series</h2>
<p>A brief introduction to ___ is a series where I give the basic ideas of a given topic. Usually this means not going into technical detail but rather giving a more overarching/ big picture view of a topic.</p>
<p>I think these types of articles are great for when you want to get into a topic, but there are so many words and so many concepts that it’s hard to get your footing at first. My goal with each of these posts is to give enough of a conceptual basis that you can read the wikipedia article about a topic in that field and not be completely lost.</p>

<h2>Introduction</h2>