<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>rctcwyvrn's blog</title>
    <link rel="stylesheet" type="text/css" href="/assets/custom.css" />
    <link rel="stylesheet" type="text/css" href="/assets/syntax.css">
    <link rel="icon" href="/images/logo.gif" type="image/gif">
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
        </script>
    <a rel="me" href="https://hachyderm.io/@rctcwyvrn"></a>
</head>

<body>
    <div id="header">
        <div id="logo">
            <a href="/">
                <img src="/images/logo.gif" width="34" height="24" align="top">
                rctcwyvrn's blog</a>
        </div>
        <div id="navigation">
            <a href="/">Home</a>
            <a href="https://github.com/rctcwyvrn">Github</a>
            <a href="/info/about/index.html">About</a>
            <a href="/info/contact/index.html">Contact</a>
            <a href="/archive/index.html">Archive</a>
        </div>
    </div>

    <div id="content">
        <h1>{% block title %}{% endblock title %}</h1>

        {% block content %}{% endblock content %}
    </div>
</body>

</html>