{% extends "default.html" %}

{% block title %}Home{% endblock title %}

{% block content %}

<h2>Friends!</h2>
<a href="https://blog.ririryn.com target="_blank" class="button" title="lily">
    <img src="/images/lily.gif" alt="lily">
</a>
<a href="https://ivyfanchiang.ca" target="_blank" class="button" title="ivy">
    <img src="/images/ivy.gif" alt="ivy">
</a>

<a href="https://dulldesk.github.io/" target="_blank" class="button" title="celeste">
    <img src="/images/celeste.png" alt="celeste">
</a>

<a href="https://queercomputerclub.ca/" target="_blank" class="button" title="qcc">
    <img src="/images/qcc.webp" alt="qcc">
</a>


<h2>Finding the words</h2>
{% include "finding-the-words.html" %}

<h2>Favorites</h2>
{% include "favorite-list.html" %}

<h2>Recent posts</h2>
{% include "post-list.html" %}

<p>…or you can find more in the <a href="/archive/index.html">archives</a>.</p>
{% endblock content %}