{% extends "default.html" %}

{% block head %}
{% if page.extra.blurb %}
<meta http-equiv="Content-Type" name="description" content="{{ page.extra.blurb }}"">
{% else %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
{% endif %}
{% endblock head%}

{% block title %}
{{ page.title }}
{% endblock title %}

{% block content %}
<div class="info">
    <p> Posted on {{ page.date }}
        {% if page.authors %}
        by {{ page.authors }}
        {% endif %}
    </p>
    <p>
        {% if page.extra.ctf_tag %}
        Team: <a href="https://ubcctf.github.io/ ">Maple Bacon, University of British Columbia</a>
        {% endif %}
    </p>
</div>
{{ page.content | safe }}

{% if page.extra.hide_subscribe %} 
{% else %}
<em><a href="https://feedrabbit.com/subscriptions/new?url=http%3A%2F%2Fblog.ririryn.com"><em>Liked this post? Subscribe to get emailed about new posts!</a> Or share on fedi/bsky, @rctcwyvrn on both platforms!</em>
{% endif %}
{% endblock content %}